.social-links {
  margin-top: 15px;
}

.social-links a {
  display: inline-block;
  margin: 10px;
  color: #ff9800;
  font-size: 18px;
  text-decoration: none;
}

.social-links a:hover {
  color: #e68900;
}
